<section class="history">
    <div class="container">
        <div class="history__wrapper">
            <div class="history__text">
                <span>Our history</span>
                <h2>Gelateria <br> since 1930</h2>
                <div class="p__wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Ut et ligula vitae est eleifend dictum a at risus. Vivamus 
                    elementum libero et quam cursus vehicula etiam ac nisi vitae
                    dolor facilisis convallis et ut ex. Phasellus in commodo
                    </p>
                </div>
                <button>About us</button>
            </div>
            <div class="history__pic">
                <div class="pic">
                    <img src="/assets/main-imgs/home-img.png" alt="#home-img">
                </div>
            </div>
        </div>
    </div>
</section>