<section id="contact" class="head-backgroud" style="background-image: url(/assets/cont-imgs/parallax-7.jpg);">
    <div class="container">
      <div class="wrapper">
        <div class="header-text">
          <h1>Contact</h1>
        </div>
      </div>
    </div>
</section>
<section class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__info">
                <div class="contact__input">
                    <div class="contact__input__text">
                        <h3>Drop Us a line</h3>
                        <p>
                            Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat
                             dignissim. Sed quis rutrum tellus, sit amet viverra felis. Cras 
                             sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, 
                             venenatis malesuada felis quis, ultricies convallis neque. 
                             Pellentesque tristique fringilla tempus.
                        </p>
                    </div>
                    <div class="contact__input__contant">
                        <form autocomplete="off">
                            <div class="input__wrapper">
                                <label>Name:</label>
                                <input type="text"> 
                            </div>
                            <div class="input__wrapper">
                                <label>Email:</label>
                                <input type="text"> 
                            </div>
                            <div class="input__wrapper">
                                <label>Message:</label>
                                <textarea name="message" cols="40" rows="5" 
                                    class="wpcf7-form-control wpcf7-textarea nd_options_padding_10_20_important nd_options_margin_top_10" 
                                    aria-invalid="false" >
                                </textarea>
                            </div>
                        </form>
                    </div>
                    <button>Send now</button>
                </div>
                <div class="contact__map__contant">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5338.546553990227!2d0.206454!3d48.00843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x371844ec8bb8cc94!2sAux%20Saveurs%20Des%20Pains!5e0!3m2!1sen!2sge!4v1622402485066!5m2!1sen!2sge" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    </div>
                    <ul class="contact__address__list">
                        <li>
                            <label>Address:</label>
                            <span>27 Rue Prémartine</span>
                        </li>
                        <li>
                            <label>Phone:</label>
                            <span>+ 7920234</span>
                        </li>
                        <li>
                            <label>City:</label>
                            <span>France</span>
                        </li>
                        <li>
                            <label>Email</label>
                            <span>hallo@eis.com</span>
                        </li>
                        <li>
                            <label>Check-in:</label>
                            <span>15:00 am</span>
                        </li>
                        <li>
                            <label>Check-out:</label>
                            <span>11:00 am</span>
                        </li>
                    </ul>
                    <div class="contact__number">
                        <span>AVAILABLE AT 10AM – 8PM</span>
                        <h3>+ 202 555 0116</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>