<footer>
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__items">
                <div class="footer__item">
                    <div class="footer__item__icons">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                    <div class="footer__item__text">
                        <h3>Stay tuned</h3>
                        <p>
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. Praesent eu libero elit.
                        </p>
                    </div>
                </div>
                <div class="footer__item">
                    <div class="footer__item__logo">
                        <img src="/assets/main-imgs/logo-white.png" alt="#logo">
                    </div>
                    <div class="footer__item__text__span">
                        <span>hallo@eistheme.com</span> <br>
                        <span>+12 476 357 384</span>
                    </div>
                </div>
                <div class="footer__item">
                    <ul class="footer__list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Prices</a></li>
                        <li><a href="#">Our blog</a></li>
                        <li><a href="#">gallery</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>