<section class="products">
    <div class="container">
        <div class="products__bg">
            <img src="/assets/main-imgs/products/parallax-2.jpg" alt="">
        </div>
        <div class="products__wrapper">
            <div class="products__top__text">
                <div class="products__text">
                    <span>All  scoops</span>
                    <h2>Ice Creams</h2>
                </div>
                <ul class="products__list">
                    <li><a href="#">Chocolate</a></li>
                    <li><a href="#">Cream</a></li>
                    <li><a href="#">Fruits</a></li>
                    <li><a href="#">Vegan</a></li>
                </ul>
            </div>
            <ul class="products__list__items">
                <li class="item"><img src="/assets/main-imgs/products/ice-cream.jpg" alt="">
                    <div class="inner-text">
                        <h5>Chocolate</h5>
                        <span>view image</span>
                    </div>
                </li>
                <li class="item"><img src="/assets/main-imgs/products/red-cream.jpg" alt="">
                    <div class="inner-text">
                        <h5>white Mint</h5>
                        <span>view image</span>
                    </div></li>
                <li class="item"><img src="/assets/main-imgs/products/3.jpg" alt="">
                    <div class="inner-text">
                        <h5>Strawberry</h5>
                        <span>view image</span>
                    </div></li>
                <li class="item"><img src="/assets/main-imgs/products/4.jpg" alt="">
                    <div class="inner-text">
                        <h5>Vanilla</h5>
                        <span>view image</span>
                    </div></li>
                <li class="item"><img src="/assets/main-imgs/products/5.jpg" alt="">
                    <div class="inner-text">
                        <h5>Fruit Yogurt</h5>
                        <span>view image</span>
                    </div></li>
            </ul>
        </div>
    </div>
</section>