section{
    width: 100%;
    display: flex;
    height: auto;
    padding-bottom: 2.4em;

    .prices__wrapper{
        width: 100%;
        display: inline-block;
        height: auto;
        padding-top: 1em;

        .prices__top__text{
            width: 100%;
            justify-content: center;
            text-align: center;
            margin-top: 6em;

            h2{
                font-size: 3.5em;
                color: #4A4A4A;
                text-transform: capitalize;
                margin-bottom: 0.5em;
                line-height: 1em;
                font-family: serif;
                font-style: normal;
                margin-top: 0.6em;
                font-weight: bold;
            }

            span{
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #777;
            }

            img{
                width: 40px;
            }
        }

        .prices__steps{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-rows: 30% 70%;
        }

        .prices__items{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;

            @media (max-width: 909px) {
                grid-template-columns: 1fr;
            }

            .item{
                width: 100%;
                height: auto;
                display: inline-block;
                padding-top: 1em;

                .item__text{
                    width: 100%;
                    height: 300px;
                    text-align: center;
                    font-family: sans-serif;
                    color: #4A4A4A;

                    h3{
                        font-size: 27px;
                        line-height: 25px;
                        margin-top: 10px;
                        padding: 0px 40px;
                    }
                    span{
                        letter-spacing: 3px;
                        font-size: 5em;
                        font-weight: 600;
                        font-style: normal;
                    }

                    p{
                        color: #7e7e7e;
                        font-size: 1.1em;
                        line-height: 32px;  
                        padding: 0px 40px;
                        margin-top: 1em;
                    }
                }

                .prices__dots{
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    height: 1px;
                    padding: 1em;
                    align-items: center;
    
                    .hr{
                        width: 100%;
                        border-bottom: 1px solid #888;
                        text-align: center;
                        position: relative;
    
                        span{
                            width: 30px;
                            height: 30px;
                            background: #fff;
                            position: absolute;
                            top: -15px;
                            left: 46%;
                            border: 7px solid #dab3c9;
                            border-radius: 50%;
                        }
                    }
                }

                .item__card{
                    width: 100%;
                    height: 350px;
                    display: inline-block;
                    padding-top: 2em;
                    color: #fff;
                    position: relative;
    
                    p{
                        font-size: 1.1em;
                        line-height: 1em;
                        margin-top: 5em;
                        text-align: center;
                    }
                    
                    .item__card__text{
                        text-align: center;
                        
                        h3{
                            font-size: 28px;
                            line-height: 25px;
                            letter-spacing: 1px;
                            font-weight: normal;
                            margin-top: 1em;
                            margin-bottom: 1em;
                        }
        
                        span{
                            font-size: 14px;
                            line-height: 14px;
                            letter-spacing: 2px;
                            margin-top: 1em;
                            font-weight: bold;
                        }

                        .cart{
                            width: 70px;
                            margin-top: 3em;
                            transform: translate(10%,0);
                        }
                    }
    
                    .item__inner_list{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
    
                        ul{
                            display: inline-block;
                            text-align: center;
    
                            li{
                                margin: 20px;
                                list-style-type: none;
                                font-size: 1.2em;
                            }
                        }
                    }
    
                    .prices__owner{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-top: 2em;
                        img{
                            width: 50px;   
                        }
                        .prices__owner__text{
                            margin:0.6em;
                            h5{
                                font-size: 1em;
                                line-height: 1em;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .bg-card{
                        position: absolute;
                        bottom: 0;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        justify-content: center;
                        text-align: center;
                        z-index: -1;
                        height: 350px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.prices{
    background-image: url(/assets/main-imgs/prices-imgs/parallax-1.jpg);
    background-size: cover;
    background-position: center center;

    .summer__prices__wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-bottom: 2em;
        

        @media (max-width: 909px) {
            grid-template-columns: 1fr;
        }

        .summer__prices__text{
            width: 100%;
            display: inline-block;
            text-align: left;
            color: #fff;
            padding-right: 5em;
            padding-left: 5em;

            h2{
                font-size: 3.8em;
                line-height: 1.1em;
                margin-top: 1em;
                font-family: serif;
                font-style: normal;

                span{
                    font-family: serif;
                    font-style: italic;
                }
            }

            p{
                line-height: 2em;
                margin-top: 2em;
                font-size: 1.2em;
                text-align: left;
            }

            .prices__auto__num{
                width: 100%;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;

                @media (max-width: 909px) {
                    grid-template-columns: 1fr;
                }

                p{
                    font-size: 3em;
                    font-weight: bold;
                    margin-top: 0;
                }

                span{
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    font-size: 0.8em;
                    margin-top: 0;
                }
            }
        }

        .summer__prices__cards{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding-top: 2em;
           

            @media (max-width: 909px) {
                grid-template-columns: 1fr;
            }

            .card{
                width: 100%;
                height: 100%;
                margin-top: 3em;
                background-color: #fff;
                display: inline-block;
                color: #333;
                // padding-top: 1em;
                text-align: center;

                .secondary{
                    background-color: #DBB3C8;
                }

                .card__price__text{
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    padding-top: 1.5em;
                    border-bottom: 1px solid rgb(214, 214, 214);
                    padding-bottom: 2em;
                   

                    h4{
                        font-size: 3em;
                        margin-top: 0.1em;
                    }

                    span{
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #c5a0b3;
                        font-weight: bold;

                        &:last-child{
                            color: #333;
                        }
                    }

                    p{
                        text-transform: uppercase;
                    }
                }
                .card__list{
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    li{
                        width: 100%;
                        list-style: none;
                        padding: 15px;
                        
                        i{
                            padding-right: 10px;
                            color: rgb(182, 182, 182);
                        } 
                    }
                }

                button{
                    width: 100px;
                    padding: 5px;
                    background-color: #DEB2C6;
                    color: #fff;
                    margin-top: 1em;
                    border-radius: 6px;
                    outline: none;
                    border: none;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                    text-transform: uppercase;
                }
            }
        }
    }
}