<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__pic">
                <img src="/assets/main-imgs/vanila.png" alt="#ice-cream">
            </div>
            <div class="banner__anim__text">
                <ul>
                    <li>M</li>
                    <li>I</li>
                    <li>N</li>
                    <li>T</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-history></app-history>
<app-products></app-products>
<app-prices></app-prices>