/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gilda Display';
    font-weight: 500;
}
:root {
    --scrollbarBg: #C3DCDF;
    --scrollbarThumb: rgba(255, 255, 255, 0.8);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
}
body {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
body::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: 6px;
    border: var(--scrollbarBorder);
}
@font-face {
    font-family: 'Joshico-regular';
    src: url('assets/fonts/Joshico-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open sans';
    src: url('assets/Fonts/opensans.ttf') format('truetype');
}
.container{
    width: 1350px;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Joshico-regular';
    font-weight: 400;
    font-size: 5em;
    line-height: 1em;
    color: #444;

    @media (max-width: 473px) {
        font-size: 3.6em;
    }
}

p, span{
    font-family: 'Open sans';
}

.head-backgroud{
    width: 100%;
    display: flex;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper{
        width: 100%;
        display: flex;
        height: auto;
        justify-content: center;
        text-align: center;

        .header-text{
            

            h1{
                margin-top: 1.3em;
                margin-bottom: 1.3em;
                color: #fff;
                line-height: 1.2em;
                z-index: 1111;
                
            }
        }
    }
}